---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About this universe"
	description="A solid yet free soul"
	pubDate={new Date('May 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Xiao's universe is a place to record a human being's insights from life and work, and many feelings in between, which cannot be easily expressed verbally, hardly understood from a traditional mindset.


<p>
It's also a journey about a young Chinese lady, born in countryside of Sichuan, middle part of China, from there, she moved to South China, North China, Europe and the world.

<p>
Among the way, she saw different people, felt different cultures. <br>
People from her hometwon always asked, hey, where are you going to? <br>
People in her journey also curious, hey, where are you coming from? <br>
<p>

As a beliver of Quantum physics and Buddhism, I guess all of us are living in the crossroads between past and now, time and space. so here is a in-between place to settle, and Xiao is here.

<p>
Thus, there is no judgements, no standings, only explorations of this big simulation game and endless discoveries of this wonderful yet short life.

	<p>
Life is beautiful, let's committed to hug and love with all our heart and soul, as, life is short, love is no game. 
	<p>
		
	</p>

	<p>
		
	</p>

	<p>
		
	</p>

	<p>
		
	</p>
</Layout>
