---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A solid yet free soul"
	pubDate={new Date('May 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Xiao's universe is a place to record a human being's insights from life and work, and many feelings in between, which cannot be easily expressed verbally, hardly understood from a traditional mindset.


<p>
It's also a journey about a young Chinese lady, born in countryside of Sichuan, middle part of China, from there, she moved to South China, North China, Europe and the world.

<p>
Among the way, 
	<p>
People from her hometwon always asked, Hey, where are you going to?
People in her journey also curious, hey, where are you coming from?
<p>

As a beliver of Quantum physics and Buddhism, I guess all of us are living in the crossroads between the east and west, the past and now, time and space. so here is a in-between place to settle.

Therefore, there is no judgements, no standings in this place.


	</p>

	<p>
		
	</p>

	<p>
		
	</p>

	<p>
		
	</p>

	<p>
		
	</p>
</Layout>
