
---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Xiaoishere" description="life explorations" />
  </head>
  <body>
    <Header />
    <main>
      <h1>🧑‍🚀 Hello, Asier!</h1>

      <p>
        It's a personal space, inspired by a deleted Instagram account, therefore, I wanna build a place,
        where we will not be easily deleted, and I guess that's the signal from universe for me to start this website.<br />
        This place is to record a human being's insights from life and work, and many feelings in between, which cannot be easily expressed verbally, hardly understood from a traditional mindset.<br />
        
      It's also a journey about a young Chinese lady, born in countryside of Sichuan, middle part of China, from there, she moved to South China, North China, Europe and the world.<br />
  People from her hometwon always asked, where are you going to? why don't you settled? <br />
People in her journey asked, where are you coming from? <br />
 <p>
As a beliver of Quantum physics and Buddhism, I guess all of us are living in the crossroads between the east and west, the past and now, time and space. <br />
All humans have are a collections of electronic signals, our interpretation of those signals built our life moments. we are nothing, and we are everything. <br />   
      </p>

      <p>
        Therefore, there is no judgements, no standings in this place.<br />
      </p>

      <p>
        As time passed by,<br />
        those moments will all become a story to tell to younger xiaoxiaoers, what and how one human being has been through.
      </p>
    </main>
    <Footer />
  </body>
</html>

