<!doctype html>
<html lang="en">
	<head>
		
<BaseHead title="Xiao's universe" description="life explorations" />
``
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Stranger!</h1>
			<p>
It's a personal space, inspired by my deleted account by Instagram, therefore, I wanna build Xiao a place, where no big tech corperate can easily delete us, and I guess that's the signal from universe。<br>
Here I am recording my lifestyle, my feedbacks form work, my readings, my yoga&meditation retreat<br>
and many feelings in between, which cannot be easily expressed。
Also, me, a young Chinese women, living in the crossroads between the east and west, the past and now, time and space. 
</p>

<p>
No judgements, no standings, pure sharing.<br>
</p>

<p>
As time passed by，<br>
it will all become a story to tell to younger xiaoxiaoers, what and how she hae been through.
</p>
		</main>
		<Footer />
	</body>
</html>
