
---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Xiao'suniverse" description="life explorations" />
  </head>
  <body>
    <Header />
    <main>
                                      <h1>🧑‍🚀 Hola, stranger!</h1>

      <p>
        It's a personal space inspired by a deleted Instagram account, therefore, I wanna build a place,
        where we will not be easily deleted, and I guess that's the signal from universe for me to start this website.<br />
 <p>
      <p>
       This space is trying to answer 4 questions in her life and hope it will randomly inspire you too: <br />
Who are you? <br />       
Where are you coming from? <br />
where are you going to? <br /> 
Most importantly, what kind of life you wanna live? <br /> 

 <p>
I don't think I know the answer, I doubt there is an answer from outsdie. <br /> 
But at least I tried, to live a life with consciousness, self-awareness and vitality. same to you:)
      </p>
    </main>
    <Footer />
  </body>
</html>

