
---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Xiao'suniverse" description="life explorations" />
  </head>
  <body>
    <Header />
    <main>
      <h1>🧑‍🚀 Hola, stranger!</h1>

      <p>
        It's a personal space, inspired by a deleted Instagram account, therefore, I wanna build a place,
        where we will not be easily deleted, and I guess that's the signal from universe for me to start this website.<br />
 <p>

 <p>
        This place is to record a human being's insights from life and work, and many feelings in between, which cannot be easily expressed verbally, hardly understood from a traditional mindset.<br />
         <p>

 <p>
      It's also a journey about a young Chinese lady, born in countryside of Sichuan, middle part of China, from there, she moved to South China, North China, Europe and the world.<br />
 <p>

 <p>
People from her hometwon always asked, where are you going to?  <br />
People in her journey also curious, where are you coming from? <br />
 <p>

 <p>
As a beliver of Quantum physics and Buddhism, I guess all of us are living in the crossroads between the east and west, the past and now, time and space. so here is a in-between place to settle. <br />   
      </p>

      <p>
        Therefore, there is no judgements, no standings in this place.<br />
      </p>

      <p>
        At the end, what we face is still the questions from thousands of years ago: <br />
Who are you? <br />       
Where are you coming from? <br />
where are you going to? <br /> 
Most importantly, what kind of life you wanna live in this short-limited period of time? <br /> 

      </p>
    </main>
    <Footer />
  </body>
</html>

